/*Reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:  #F5CF06;
    --secondary-color: #8E4106;
    --space-default: 70px;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-top: var(--space-default);
    padding-bottom: 24px;
    font-family: 'Righteous', cursive;
}

header{
    height: 48px;
}
.logo {
    margin-left: var(--space-default);
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
}

main{
    flex-grow:1;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin: 0px var(--space-default); 
}
.title{
    position: relative;
    grid-column: 1/-1;
    place-self: center;

}
.title__text{
    font-size: 20vw;
    color: #FFFFFF;
}
.title__transparente{
    position: absolute;
    font-size: 27vw;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff5;
    z-index: -1;
}
.description{
    grid-column: 1/7;
    place-self: center start;
    color: var(--secondary-color);
}
.description__title{
    font-size: 4rem;
}
.description__text{
    font-size: 1.2rem;
    width: 500px;
}
.action{
    grid-column: 7/-1;
    place-self: center end;
    height: 100px;
    width: 411px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    text-decoration: none;
}

footer{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: var(--secondary-color); 
}
.pikachu-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

/* TABLET*/

@media screen and (max-width: 960px){
    :root{
        --space-default: 30px;
    } 
    main{
        grid-template-columns: 1fr;
    }
    .pikachu-image{
        transform: translate(-50%,-60%);
    }
    .title{
        place-self: start center;
    }
    .description{
        grid-row: 2;
        grid-column: 1;
        place-self: center;
        text-align: center;
    }
    .action{
        grid-row: 2;
        grid-column: 1;
        place-self: end center;
    }
    footer{
        display: none;
    }
}


/* MOBILE */
@media screen and (max-width: 640px){
    .pikachu-image{
        width: 90vw;
        transform: translate(-50%, -50%);
    }
    .title{
       transform: translateY(30%);
    }
    .description__title{
        font-size: 10vw;
    }
    .description__text{
        display: none;
    }
    .action{
        width: 100%;
    }
}

    